---
import Heading from "@/components/Heading.astro";
import Link from "@/components/Link.astro";

import { DESC, GREETINGS, HASHNODE, PIXEL_PERFECT } from "@/constants/data";
---

<section>
  <Heading>👤 ABOUT</Heading>

  <p>{GREETINGS}</p>
  <p>{DESC}</p>
  <p>{PIXEL_PERFECT}</p>

  <Link isExternal href={HASHNODE.LINK}>
    {HASHNODE.OPTIONAL}
  </Link>
</section>
